In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import env

Acquire data from the cloud database.

You will want to end with a single dataframe. Include the logerror field and all other fields related to the properties that are available. You will end up using all the tables in the database.

Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid. - Only include properties with a transaction in 2017, and include only the last transaction for each property (so no duplicate property ID's), along with zestimate error and date of transaction. (Hint: read the docs for the .duplicated method) - Only include properties that have a latitude and longitude value.

In [2]:
sql_url = env.get_connection('zillow')

In [14]:
query = '''
        SELECT
    prop.*,
    predictions_2017.logerror,
    predictions_2017.transactiondate,
    air.airconditioningdesc,
    arch.architecturalstyledesc,
    build.buildingclassdesc,
    heat.heatingorsystemdesc,
    landuse.propertylandusedesc,
    story.storydesc,
    construct.typeconstructiondesc
FROM properties_2017 prop
JOIN (
    SELECT parcelid, MAX(transactiondate) AS max_transactiondate
    FROM predictions_2017
    GROUP BY parcelid
) pred USING(parcelid)
JOIN predictions_2017 ON pred.parcelid = predictions_2017.parcelid
                      AND pred.max_transactiondate = predictions_2017.transactiondate
LEFT JOIN airconditioningtype air USING (airconditioningtypeid)
LEFT JOIN architecturalstyletype arch USING (architecturalstyletypeid)
LEFT JOIN buildingclasstype build USING (buildingclasstypeid)
LEFT JOIN heatingorsystemtype heat USING (heatingorsystemtypeid)
LEFT JOIN propertylandusetype landuse USING (propertylandusetypeid)
LEFT JOIN storytype story USING (storytypeid)
LEFT JOIN typeconstructiontype construct USING (typeconstructiontypeid)
WHERE prop.latitude IS NOT NULL
  AND prop.longitude IS NOT NULL
  AND transactiondate <= '2017-12-31'
        '''

In [15]:
df = pd.read_sql(query, sql_url)
df.head()

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,1727539,14297519,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,...,6.059063e+13,0.025595,2017-01-01,None,None,None,None,Single Family Residential,None,None
1,1387261,17052889,NaN,NaN,NaN,1.0,2.0,NaN,NaN,1.0,...,6.111001e+13,0.055619,2017-01-01,None,None,None,None,Single Family Residential,None,None
2,11677,14186244,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,...,6.059022e+13,0.005383,2017-01-01,None,None,None,None,Single Family Residential,None,None
3,2288172,12177905,NaN,NaN,NaN,3.0,4.0,NaN,8.0,3.0,...,6.037300e+13,-0.103410,2017-01-01,None,None,None,Central,Single Family Residential,None,None
4,1970746,10887214,1.0,NaN,NaN,3.0,3.0,NaN,8.0,3.0,...,6.037124e+13,0.006940,2017-01-01,Central,None,None,Central,Condominium,None,None

In [20]:
df.duplicated(subset=None, keep='first')

0        False
1        False
2        False
3        False
4        False
         ...
77375    False
77376    False
77377    False
77378    False
77379    False
Length: 77380, dtype: bool

Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [21]:
df.describe()

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,censustractandblock,logerror
count,7.738000e+04,7.738000e+04,24953.000000,206.000000,50.000000,77380.000000,77380.000000,15.000000,49671.000000,76771.000000,...,17560.000000,172.0,7.726800e+04,7.737900e+04,77380.0,7.737800e+04,77375.000000,2886.000000,7.713600e+04,77380.000000
mean,1.495126e+06,1.300715e+07,1.813289,7.388350,679.720000,2.299134,3.053489,3.933333,6.534638,2.316871,...,1.434738,1.0,1.893160e+05,4.901375e+05,2016.0,3.010969e+05,5995.566592,14.087318,6.049674e+13,0.016628
std,8.609057e+05,3.481368e+06,2.967894,2.734542,689.703546,0.996657,1.139103,0.258199,1.721933,0.979761,...,0.544569,0.0,2.300886e+05,6.534477e+05,0.0,4.925990e+05,7622.887460,2.185663,1.535252e+12,0.170190
min,3.490000e+02,1.071186e+07,1.000000,2.000000,38.000000,0.000000,0.000000,3.000000,1.000000,1.000000,...,1.000000,1.0,4.400000e+01,1.000000e+03,2016.0,1.610000e+02,19.920000,3.000000,6.037101e+13,-4.655420
25%,7.520500e+05,1.153830e+07,1.000000,7.000000,273.000000,2.000000,2.000000,4.000000,6.000000,2.000000,...,1.000000,1.0,8.426500e+04,2.070000e+05,2016.0,8.550400e+04,2715.585000,14.000000,6.037311e+13,-0.024377
50%,1.497870e+06,1.253155e+07,1.000000,7.000000,515.000000,2.000000,3.000000,4.000000,6.000000,2.000000,...,1.000000,1.0,1.364995e+05,3.589760e+05,2016.0,2.033835e+05,4450.720000,15.000000,6.037603e+13,0.006627
75%,2.240480e+06,1.421184e+07,1.000000,7.000000,796.500000,3.000000,4.000000,4.000000,8.000000,3.000000,...,2.000000,1.0,2.187875e+05,5.690030e+05,2016.0,3.668022e+05,6927.800000,15.000000,6.059042e+13,0.039204
max,2.982274e+06,1.676893e+08,13.000000,21.000000,3560.000000,18.000000,16.000000,4.000000,12.000000,18.000000,...,6.000000,1.0,1.142179e+07,4.906124e+07,2016.0,4.895220e+07,586639.300000,99.000000,4.830301e+14,5.262999

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77380 entries, 0 to 77379
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            77380 non-null  int64
 1   parcelid                      77380 non-null  int64
 2   airconditioningtypeid         24953 non-null  float64
 3   architecturalstyletypeid      206 non-null    float64
 4   basementsqft                  50 non-null     float64
 5   bathroomcnt                   77380 non-null  float64
 6   bedroomcnt                    77380 non-null  float64
 7   buildingclasstypeid           15 non-null     float64
 8   buildingqualitytypeid         49671 non-null  float64
 9   calculatedbathnbr             76771 non-null  float64
 10  decktypeid                    614 non-null    float64
 11  finishedfloor1squarefeet      6023 non-null   float64
 12  calculatedfinishedsquarefeet  77184 non-null  float64
 13  finishedsquarefeet12          73748 non-null  float64
 14  finishedsquarefeet13          41 non-null     float64
 15  finishedsquarefeet15          3009 non-null   float64
 16  finishedsquarefeet50          6023 non-null   float64
 17  finishedsquarefeet6           386 non-null    float64
 18  fips                          77380 non-null  float64
 19  fireplacecnt                  8276 non-null   float64
 20  fullbathcnt                   76771 non-null  float64
 21  garagecarcnt                  25474 non-null  float64
 22  garagetotalsqft               25474 non-null  float64
 23  hashottuborspa                1538 non-null   float64
 24  heatingorsystemtypeid         49439 non-null  float64
 25  latitude                      77380 non-null  float64
 26  longitude                     77380 non-null  float64
 27  lotsizesquarefeet             69141 non-null  float64
 28  poolcnt                       16137 non-null  float64
 29  poolsizesum                   867 non-null    float64
 30  pooltypeid10                  464 non-null    float64
 31  pooltypeid2                   1074 non-null   float64
 32  pooltypeid7                   15042 non-null  float64
 33  propertycountylandusecode     77380 non-null  object
 34  propertylandusetypeid         77380 non-null  float64
 35  propertyzoningdesc            50330 non-null  object
 36  rawcensustractandblock        77380 non-null  float64
 37  regionidcity                  75909 non-null  float64
 38  regionidcounty                77380 non-null  float64
 39  regionidneighborhood          30890 non-null  float64
 40  regionidzip                   77330 non-null  float64
 41  roomcnt                       77380 non-null  float64
 42  storytypeid                   50 non-null     float64
 43  threequarterbathnbr           10096 non-null  float64
 44  typeconstructiontypeid        222 non-null    float64
 45  unitcnt                       50562 non-null  float64
 46  yardbuildingsqft17            2388 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77117 non-null  float64
 49  numberofstories               17560 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77268 non-null  float64
 52  taxvaluedollarcnt             77379 non-null  float64
 53  assessmentyear                77380 non-null  float64
 54  landtaxvaluedollarcnt         77378 non-null  float64
 55  taxamount                     77375 non-null  float64
 56  taxdelinquencyflag            2886 non-null   object
 57  taxdelinquencyyear            2886 non-null   float64
 58  censustractandblock           77136 non-null  float64
 59  logerror                      77380 non-null  float64
 60  transactiondate               77380 non-null  object
 61  airconditioningdesc           24953 non-null  object
 62  architecturalstyledesc        206 non-null    object
 63  buildingclassdesc             15 non-null     object
 64  heatingorsystemdesc           49439 non-null  object
 65  propertylandusedesc           77380 non-null  object
 66  storydesc                     50 non-null     object
 67  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(2), object(11)
memory usage: 40.1+ MB

In [24]:
print(f'rows: {df.shape[0]}')
print(f'co1umns: {df.shape[1]}')

rows: 77380
co1umns: 68

In [34]:
for column in df.columns:
    print(column)
    print(df[column].value_counts())
    print('\n_____________________________\n')

id
1727539    1
1310159    1
1821697    1
255591     1
1242421    1
          ..
50636      1
1319932    1
2771899    1
780091     1
1187175    1
Name: id, Length: 77380, dtype: int64

_____________________________

parcelid
14297519    1
14409622    1
10830233    1
10914758    1
11656688    1
           ..
12060775    1
12453636    1
14707754    1
11697485    1
12826780    1
Name: parcelid, Length: 77380, dtype: int64

_____________________________

airconditioningtypeid
1.0     23133
13.0     1574
5.0       167
11.0       53
9.0        26
Name: airconditioningtypeid, dtype: int64

_____________________________

architecturalstyletypeid
7.0     172
8.0      19
21.0      7
2.0       5
3.0       3
Name: architecturalstyletypeid, dtype: int64

_____________________________

basementsqft
900.0     2
700.0     2
100.0     2
640.0     2
515.0     2
273.0     2
912.0     2
314.0     1
819.0     1
1809.0    1
604.0     1
126.0     1
588.0     1
786.0     1
669.0     1
800.0     1
396.0     1
112.0     1
645.0     1
384.0     1
1969.0    1
252.0     1
600.0     1
1218.0    1
280.0     1
405.0     1
224.0     1
512.0     1
380.0     1
204.0     1
200.0     1
90.0      1
3112.0    1
674.0     1
300.0     1
1252.0    1
254.0     1
3560.0    1
352.0     1
168.0     1
394.0     1
1416.0    1
38.0      1
Name: basementsqft, dtype: int64

_____________________________

bathroomcnt
2.0     31484
3.0     17313
1.0     12902
2.5      6604
4.0      3352
1.5      1415
3.5      1034
5.0      1026
4.5       695
0.0       592
6.0       417
5.5       224
7.0       113
8.0       108
6.5        47
9.0        23
7.5        16
10.0        7
11.0        3
8.5         3
18.0        1
13.0        1
Name: bathroomcnt, dtype: int64

_____________________________

bedroomcnt
3.0     30361
2.0     19169
4.0     17513
5.0      4543
1.0      3379
6.0       998
0.0       830
8.0       252
7.0       208
9.0        70
10.0       31
12.0       14
11.0        8
13.0        2
14.0        1
16.0        1
Name: bedroomcnt, dtype: int64

_____________________________

buildingclasstypeid
4.0    14
3.0     1
Name: buildingclasstypeid, dtype: int64

_____________________________

buildingqualitytypeid
8.0     14645
6.0     13462
4.0      9482
7.0      5971
9.0      2299
5.0      2088
11.0      931
3.0       329
10.0      313
12.0      116
1.0        26
2.0         9
Name: buildingqualitytypeid, dtype: int64

_____________________________

calculatedbathnbr
2.0     31484
3.0     17313
1.0     12902
2.5      6595
4.0      3352
1.5      1408
3.5      1034
5.0      1026
4.5       695
6.0       417
5.5       223
7.0       113
8.0       108
6.5        47
9.0        23
7.5        16
10.0        7
11.0        3
8.5         3
18.0        1
13.0        1
Name: calculatedbathnbr, dtype: int64

_____________________________

decktypeid
66.0    614
Name: decktypeid, dtype: int64

_____________________________

finishedfloor1squarefeet
1252.0    22
1205.0    21
1462.0    21
780.0     21
1498.0    21
          ..
1988.0     1
666.0      1
1437.0     1
1307.0     1
2652.0     1
Name: finishedfloor1squarefeet, Length: 1787, dtype: int64

_____________________________

calculatedfinishedsquarefeet
1200.0    181
1120.0    169
1440.0    147
1080.0    132
1260.0    120
         ...
9848.0      1
5698.0      1
4619.0      1
4148.0      1
5210.0      1
Name: calculatedfinishedsquarefeet, Length: 4972, dtype: int64

_____________________________

finishedsquarefeet12
1200.0    176
1120.0    165
1080.0    131
1440.0    120
1232.0    116
         ...
4229.0      1
7284.0      1
5185.0      1
8240.0      1
5210.0      1
Name: finishedsquarefeet12, Length: 4868, dtype: int64

_____________________________

finishedsquarefeet13
1440.0    18
1344.0     5
1536.0     3
1488.0     3
1152.0     2
1392.0     2
1248.0     2
1056.0     1
1300.0     1
1560.0     1
1512.0     1
1060.0     1
1200.0     1
Name: finishedsquarefeet13, dtype: int64

_____________________________

finishedsquarefeet15
1680.0    16
1536.0    12
2016.0    12
1600.0    10
1512.0     9
          ..
4108.0     1
4626.0     1
1385.0     1
2345.0     1
4422.0     1
Name: finishedsquarefeet15, Length: 1724, dtype: int64

_____________________________

finishedsquarefeet50
1252.0    22
1462.0    21
1441.0    21
780.0     21
1205.0    21
          ..
2274.0     1
2738.0     1
3601.0     1
3550.0     1
2652.0     1
Name: finishedsquarefeet50, Length: 1807, dtype: int64

_____________________________

finishedsquarefeet6
952.0     4
520.0     3
750.0     3
3552.0    3
3500.0    3
         ..
2708.0    1
3950.0    1
1178.0    1
1460.0    1
905.0     1
Name: finishedsquarefeet6, Length: 350, dtype: int64

_____________________________

fips
6037.0    50550
6059.0    20593
6111.0     6237
Name: fips, dtype: int64

_____________________________

fireplacecnt
1.0    7008
2.0     995
3.0     235
4.0      35
5.0       3
Name: fireplacecnt, dtype: int64

_____________________________

fullbathcnt
2.0     38096
3.0     18351
1.0     14310
4.0      4048
5.0      1245
6.0       454
7.0       121
8.0       111
9.0        23
10.0        7
11.0        3
18.0        1
13.0        1
Name: fullbathcnt, dtype: int64

_____________________________

garagecarcnt
2.0     18608
1.0      5676
3.0       632
4.0       255
0.0       230
5.0        45
6.0        14
7.0         4
10.0        3
8.0         2
9.0         2
11.0        1
13.0        1
14.0        1
Name: garagecarcnt, dtype: int64

_____________________________

garagetotalsqft
0.0       7685
400.0      786
441.0      678
462.0      658
360.0      646
          ...
1006.0       1
275.0        1
1056.0       1
261.0        1
957.0        1
Name: garagetotalsqft, Length: 839, dtype: int64

_____________________________

hashottuborspa
1.0    1538
Name: hashottuborspa, dtype: int64

_____________________________

heatingorsystemtypeid
2.0     33550
7.0     14064
24.0      846
6.0       776
20.0      104
13.0       59
18.0       23
1.0        13
10.0        3
11.0        1
Name: heatingorsystemtypeid, dtype: int64

_____________________________

latitude
33984600.0    40
33665651.0    38
33766300.0    34
34056700.0    32
34225100.0    29
              ..
34242463.0     1
33754314.0     1
33689127.0     1
34095983.0     1
33937685.0     1
Name: latitude, Length: 64037, dtype: int64

_____________________________

longitude
-118438000.0    63
-118435000.0    62
-118390000.0    60
-118445000.0    60
-118377000.0    59
                ..
-118287098.0     1
-118211348.0     1
-118459027.0     1
-118947816.0     1
-117996709.0     1
Name: longitude, Length: 62460, dtype: int64

_____________________________

lotsizesquarefeet
6000.0     892
5000.0     437
7200.0     314
7000.0     297
6500.0     294
          ...
74247.0      1
20520.0      1
25370.0      1
28724.0      1
47405.0      1
Name: lotsizesquarefeet, Length: 18848, dtype: int64

_____________________________

poolcnt
1.0    16137
Name: poolcnt, dtype: int64

_____________________________

poolsizesum
450.0     90
400.0     38
500.0     30
600.0     27
512.0     25
          ..
275.0      1
434.0      1
1070.0     1
368.0      1
780.0      1
Name: poolsizesum, Length: 262, dtype: int64

_____________________________

pooltypeid10
1.0    464
Name: pooltypeid10, dtype: int64

_____________________________

pooltypeid2
1.0    1074
Name: pooltypeid2, dtype: int64

_____________________________

pooltypeid7
1.0    15042
Name: pooltypeid7, dtype: int64

_____________________________

propertycountylandusecode
0100    26713
122     13045
010C     8813
0101     6399
34       4922
        ...
0115        1
0131        1
1432        1
040G        1
020E        1
Name: propertycountylandusecode, Length: 75, dtype: int64

_____________________________

propertylandusetypeid
261.0    52319
266.0    19294
246.0     2009
269.0     1944
248.0      727
247.0      535
265.0      333
263.0       74
275.0       58
260.0       37
267.0       29
31.0        15
264.0        6
Name: propertylandusetypeid, dtype: int64

_____________________________

propertyzoningdesc
LAR1         6747
LAR3         2437
LARS         1389
LBR1N        1222
LARD1.5      1127
             ...
PSR47200*       1
LBRR2I          1
PD SP           1
AVR2*           1
BFA15000*       1
Name: propertyzoningdesc, Length: 1907, dtype: int64

_____________________________

rawcensustractandblock
6.037137e+07    60
6.059063e+07    60
6.037920e+07    58
6.037277e+07    51
6.059032e+07    43
                ..
6.037911e+07     1
6.037481e+07     1
6.037133e+07     1
6.037621e+07     1
6.037503e+07     1
Name: rawcensustractandblock, Length: 39194, dtype: int64

_____________________________

regionidcity
12447.0     17948
46298.0      2588
5534.0       1912
54311.0      1880
52650.0      1669
            ...
118880.0        5
13311.0         5
10815.0         4
36078.0         1
21395.0         1
Name: regionidcity, Length: 175, dtype: int64

_____________________________

regionidcounty
3101.0    50550
1286.0    20593
2061.0     6237
Name: regionidcounty, dtype: int64

_____________________________

regionidneighborhood
27080.0     717
48570.0     704
37739.0     684
118208.0    669
51906.0     549
           ...
273350.0      1
764146.0      1
268050.0      1
764138.0      1
762940.0      1
Name: regionidneighborhood, Length: 480, dtype: int64

_____________________________

regionidzip
97319.0    825
96987.0    753
97318.0    708
97118.0    613
96974.0    593
          ...
96329.0      2
97092.0      1
96467.0      1
97088.0      1
97111.0      1
Name: regionidzip, Length: 389, dtype: int64

_____________________________

roomcnt
0.0     59807
6.0      4513
7.0      3838
5.0      3016
8.0      2872
4.0      1415
9.0      1193
10.0      339
3.0       211
11.0      108
12.0       35
2.0        15
13.0       10
14.0        6
1.0         1
15.0        1
Name: roomcnt, dtype: int64

_____________________________

storytypeid
7.0    50
Name: storytypeid, dtype: int64

_____________________________

threequarterbathnbr
1.0    10012
2.0       75
3.0        8
7.0        1
Name: threequarterbathnbr, dtype: int64

_____________________________

typeconstructiontypeid
6.0     219
13.0      1
10.0      1
4.0       1
Name: typeconstructiontypeid, dtype: int64

_____________________________

unitcnt
1.0      47292
2.0       2018
4.0        723
3.0        525
45.0         1
42.0         1
6.0          1
237.0        1
Name: unitcnt, dtype: int64

_____________________________

yardbuildingsqft17
200.0     103
240.0      76
300.0      50
180.0      42
120.0      38
         ...
257.0       1
346.0       1
1216.0      1
707.0       1
409.0       1
Name: yardbuildingsqft17, Length: 540, dtype: int64

_____________________________

yardbuildingsqft26
30.0     3
120.0    3
300.0    2
33.0     2
144.0    2
448.0    2
240.0    2
88.0     2
56.0     2
284.0    1
39.0     1
140.0    1
133.0    1
486.0    1
250.0    1
91.0     1
491.0    1
575.0    1
16.0     1
196.0    1
71.0     1
204.0    1
461.0    1
195.0    1
292.0    1
231.0    1
320.0    1
384.0    1
180.0    1
49.0     1
868.0    1
462.0    1
48.0     1
72.0     1
28.0     1
414.0    1
160.0    1
45.0     1
752.0    1
169.0    1
21.0     1
200.0    1
113.0    1
41.0     1
314.0    1
12.0     1
66.0     1
105.0    1
648.0    1
174.0    1
218.0    1
60.0     1
336.0    1
108.0    1
216.0    1
360.0    1
368.0    1
37.0     1
576.0    1
Name: yardbuildingsqft26, dtype: int64

_____________________________

yearbuilt
1955.0    1969
1989.0    1787
1950.0    1673
1964.0    1642
1954.0    1583
          ...
1883.0       1
1866.0       1
1878.0       1
1889.0       1
1880.0       1
Name: yearbuilt, Length: 136, dtype: int64

_____________________________

numberofstories
1.0    10366
2.0     6757
3.0      436
6.0        1
Name: numberofstories, dtype: int64

_____________________________

fireplaceflag
1.0    172
Name: fireplaceflag, dtype: int64

_____________________________

structuretaxvaluedollarcnt
100000.0    82
200000.0    58
203050.0    55
90000.0     52
101525.0    49
            ..
68418.0      1
92694.0      1
107831.0     1
171441.0     1
32797.0      1
Name: structuretaxvaluedollarcnt, Length: 50429, dtype: int64

_____________________________

taxvaluedollarcnt
400000.0    56
600000.0    50
350000.0    49
450000.0    45
420000.0    43
            ..
814650.0     1
704581.0     1
462319.0     1
795553.0     1
49546.0      1
Name: taxvaluedollarcnt, Length: 50948, dtype: int64

_____________________________

assessmentyear
2016.0    77380
Name: assessmentyear, dtype: int64

_____________________________

landtaxvaluedollarcnt
21299.0      97
22755.0      68
304575.0     65
30210.0      63
203050.0     63
             ..
91087.0       1
235857.0      1
209318.0      1
1539119.0     1
283704.0      1
Name: landtaxvaluedollarcnt, Length: 51600, dtype: int64

_____________________________

taxamount
2418.22     8
3720.52     7
4401.72     5
3815.22     5
2217.31     5
           ..
26077.41    1
16173.90    1
5051.76     1
2112.69     1
6317.15     1
Name: taxamount, Length: 73824, dtype: int64

_____________________________

taxdelinquencyflag
Y    2886
Name: taxdelinquencyflag, dtype: int64

_____________________________

taxdelinquencyyear
15.0    1552
14.0     799
13.0     183
12.0     113
11.0      98
10.0      66
9.0       47
8.0       14
7.0       10
3.0        1
6.0        1
99.0       1
4.0        1
Name: taxdelinquencyyear, dtype: int64

_____________________________

censustractandblock
6.037137e+13    60
6.037277e+13    51
6.059032e+13    44
6.037920e+13    41
6.059063e+13    41
                ..
6.037703e+13     1
6.037911e+13     1
6.037481e+13     1
6.037133e+13     1
6.037503e+13     1
Name: censustractandblock, Length: 39006, dtype: int64

_____________________________

logerror
 0.000231    7
 0.002652    7
 0.003152    5
 0.000727    5
 0.011157    5
            ..
 0.003464    1
-0.005457    1
-0.095143    1
-0.014610    1
 0.037129    1
Name: logerror, Length: 76836, dtype: int64

_____________________________

transactiondate
2017-06-30    1189
2017-04-28     911
2017-05-31     867
2017-07-28     814
2017-08-31     781
              ...
2017-03-12       1
2017-07-22       1
2017-08-05       1
2017-08-06       1
2017-09-25       1
Name: transactiondate, Length: 264, dtype: int64

_____________________________

airconditioningdesc
Central          23133
Yes               1574
None               167
Wall Unit           53
Refrigeration       26
Name: airconditioningdesc, dtype: int64

_____________________________

architecturalstyledesc
Contemporary     172
Conventional      19
Ranch/Rambler      7
Bungalow           5
Cape Cod           3
Name: architecturalstyledesc, dtype: int64

_____________________________

buildingclassdesc
Buildings having wood or wood and steel frames                                                                                                                                                                                             14
Buildings having exterior walls built of a non-combustible material such as brick, concrete, block or poured concrete. Interior partitions and roof structures are built of combustible materials. Floor may be concrete or wood frame.     1
Name: buildingclassdesc, dtype: int64

_____________________________

heatingorsystemdesc
Central       33550
Floor/Wall    14064
Yes             846
Forced air      776
Solar           104
None             59
Radiant          23
Baseboard        13
Gravity           3
Heat Pump         1
Name: heatingorsystemdesc, dtype: int64

_____________________________

propertylandusedesc
Single Family Residential                     52319
Condominium                                   19294
Duplex (2 Units, Any Combination)              2009
Planned Unit Development                       1944
Quadruplex (4 Units, Any Combination)           727
Triplex (3 Units, Any Combination)              535
Cluster Home                                    333
Mobile Home                                      74
Manufactured, Modular, Prefabricated Homes       58
Residential General                              37
Cooperative                                      29
Commercial/Office/Residential Mixed Used         15
Townhouse                                         6
Name: propertylandusedesc, dtype: int64

_____________________________

storydesc
Basement    50
Name: storydesc, dtype: int64

_____________________________

typeconstructiondesc
Frame       219
Masonry       1
Metal         1
Concrete      1
Name: typeconstructiondesc, dtype: int64

_____________________________

Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [40]:
df.isnull().sum(axis=1)

0        36
1        33
2        34
3        32
4        29
         ..
77375    29
77376    33
77377    32
77378    32
77379    34
Length: 77380, dtype: int64

In [41]:
(df.isnull().sum()/df.shape[0]*100).sort_values(ascending=False)

buildingclassdesc        99.980615
buildingclasstypeid      99.980615
finishedsquarefeet13     99.947015
storytypeid              99.935384
basementsqft             99.935384
                           ...
latitude                  0.000000
fips                      0.000000
bedroomcnt                0.000000
bathroomcnt               0.000000
propertylandusetypeid     0.000000
Length: 68, dtype: float64

In [42]:
null_col_df = pd.DataFrame({'num_rows_missing': df.isnull().sum(),
                            'percent_rows_missing': df.isnull().sum()/df.shape[0]*100})
null_col_df.head(4)

                          num_rows_missing  percent_rows_missing
id                                       0              0.000000
parcelid                                 0              0.000000
airconditioningtypeid                52427             67.752649
architecturalstyletypeid             77174             99.733781

In [38]:
def nulls_by_row(df):
    num_missing = df.isnull().sum(axis=1)
    percent_miss = num_missing / df.shape[1] * 100
    rows_missing = pd.DataFrame({'num_cols_missing': num_missing, 'percent_cols_missing': percent_miss})
    rows_missing = df.merge(rows_missing,
                        left_index=True,
                        right_index=True)[['parcelid', 'num_cols_missing', 'percent_cols_missing']]
    return rows_missing.sort_values(by='num_cols_missing', ascending=False)

In [39]:
nulls_by_row(df)

        parcelid  num_cols_missing  percent_cols_missing
55461   14341728                48             70.588235
41501  167687839                48             70.588235
13386  167686999                48             70.588235
16553  167689317                47             69.117647
61092   17188862                47             69.117647
...          ...               ...                   ...
4881    14649489                24             35.294118
67756   14466342                24             35.294118
15477   17097816                24             35.294118
32747   14465914                23             33.823529
58144   14215623                23             33.823529

[77380 rows x 3 columns]

### Prepare

Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer.

In [46]:
pd.set_option('display.max_columns', None)
df.head()

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,finishedsquarefeet6,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,hashottuborspa,heatingorsystemtypeid,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid10,pooltypeid2,pooltypeid7,propertycountylandusecode,propertylandusetypeid,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidneighborhood,regionidzip,roomcnt,storytypeid,threequarterbathnbr,typeconstructiontypeid,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,1727539,14297519,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,NaN,NaN,3100.0,3100.0,NaN,NaN,NaN,NaN,6059.0,NaN,3.0,2.0,633.0,NaN,NaN,33634931.0,-117869207.0,4506.0,NaN,NaN,NaN,NaN,NaN,122,261.0,None,6.059063e+07,53571.0,1286.0,NaN,96978.0,0.0,NaN,1.0,NaN,NaN,NaN,NaN,1998.0,NaN,NaN,485713.0,1023282.0,2016.0,537569.0,11013.72,None,NaN,6.059063e+13,0.025595,2017-01-01,None,None,None,None,Single Family Residential,None,None
1,1387261,17052889,NaN,NaN,NaN,1.0,2.0,NaN,NaN,1.0,NaN,1465.0,1465.0,1465.0,NaN,NaN,1465.0,NaN,6111.0,1.0,1.0,1.0,0.0,NaN,NaN,34449266.0,-119281531.0,12647.0,NaN,NaN,NaN,NaN,NaN,1110,261.0,None,6.111001e+07,13091.0,2061.0,NaN,97099.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,1967.0,1.0,NaN,88000.0,464000.0,2016.0,376000.0,5672.48,None,NaN,6.111001e+13,0.055619,2017-01-01,None,None,None,None,Single Family Residential,None,None
2,11677,14186244,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,NaN,NaN,1243.0,1243.0,NaN,NaN,NaN,NaN,6059.0,NaN,2.0,2.0,440.0,NaN,NaN,33886168.0,-117823170.0,8432.0,1.0,NaN,NaN,NaN,1.0,122,261.0,None,6.059022e+07,21412.0,1286.0,NaN,97078.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,1962.0,1.0,NaN,85289.0,564778.0,2016.0,479489.0,6488.30,None,NaN,6.059022e+13,0.005383,2017-01-01,None,None,None,None,Single Family Residential,None,None
3,2288172,12177905,NaN,NaN,NaN,3.0,4.0,NaN,8.0,3.0,NaN,NaN,2376.0,2376.0,NaN,NaN,NaN,NaN,6037.0,NaN,3.0,NaN,NaN,NaN,2.0,34245180.0,-118240722.0,13038.0,1.0,NaN,NaN,NaN,1.0,0101,261.0,LCR110000*,6.037300e+07,396551.0,3101.0,NaN,96330.0,0.0,NaN,NaN,NaN,1.0,NaN,NaN,1970.0,NaN,NaN,108918.0,145143.0,2016.0,36225.0,1777.51,None,NaN,6.037300e+13,-0.103410,2017-01-01,None,None,None,Central,Single Family Residential,None,None
4,1970746,10887214,1.0,NaN,NaN,3.0,3.0,NaN,8.0,3.0,NaN,NaN,1312.0,1312.0,NaN,NaN,NaN,NaN,6037.0,NaN,3.0,NaN,NaN,NaN,2.0,34185120.0,-118414640.0,278581.0,1.0,NaN,NaN,NaN,1.0,010C,266.0,LAR3,6.037124e+07,12447.0,3101.0,268548.0,96451.0,0.0,NaN,NaN,NaN,1.0,NaN,NaN,1964.0,NaN,NaN,73681.0,119407.0,2016.0,45726.0,1533.89,None,NaN,6.037124e+13,0.006940,2017-01-01,Central,None,None,Central,Condominium,None,None

In [47]:
df.columns

Index(['id', 'parcelid', 'airconditioningtypeid', 'architecturalstyletypeid',
       'basementsqft', 'bathroomcnt', 'bedroomcnt', 'buildingclasstypeid',
       'buildingqualitytypeid', 'calculatedbathnbr', 'decktypeid',
       'finishedfloor1squarefeet', 'calculatedfinishedsquarefeet',
       'finishedsquarefeet12', 'finishedsquarefeet13', 'finishedsquarefeet15',
       'finishedsquarefeet50', 'finishedsquarefeet6', 'fips', 'fireplacecnt',
       'fullbathcnt', 'garagecarcnt', 'garagetotalsqft', 'hashottuborspa',
       'heatingorsystemtypeid', 'latitude', 'longitude', 'lotsizesquarefeet',
       'poolcnt', 'poolsizesum', 'pooltypeid10', 'pooltypeid2', 'pooltypeid7',
       'propertycountylandusecode', 'propertylandusetypeid',
       'propertyzoningdesc', 'rawcensustractandblock', 'regionidcity',
       'regionidcounty', 'regionidneighborhood', 'regionidzip', 'roomcnt',
       'storytypeid', 'threequarterbathnbr', 'typeconstructiontypeid',
       'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'yearbuilt',
       'numberofstories', 'fireplaceflag', 'structuretaxvaluedollarcnt',
       'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt',
       'taxamount', 'taxdelinquencyflag', 'taxdelinquencyyear',
       'censustractandblock', 'logerror', 'transactiondate',
       'airconditioningdesc', 'architecturalstyledesc', 'buildingclassdesc',
       'heatingorsystemdesc', 'propertylandusedesc', 'storydesc',
       'typeconstructiondesc'],
      dtype='object')

Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).  
* The input:
    * A dataframe
    * A number between 0 and 1 that represents the proportion, for each column, of rows with non-missing values required to keep the column. i.e. if prop_required_column = .6, then you are requiring a column to have at least 60% of values not-NA (no more than 40% missing).
    * A number between 0 and 1 that represents the proportion, for each row, of columns/variables with non-missing values required to keep the row. For example, if prop_required_row = .75, then you are requiring a row to have at least 75% of variables with a non-missing value (no more that 25% missing).
* The output:
    * The dataframe with the columns and rows dropped as indicated. Be sure to drop the columns prior to the rows in your function.
* hint:
    * Look up the dropna documentation.
    * You will want to compute a threshold from your input values (prop_required) and total number of rows or columns.

In [ ]:
def handle_missing_values(df, prop_required_column, prop_required_row):

In [ ]:
handle_missing_values(df, prop_required_column, prop_required_row)

Encapsulate your work inside of functions in a wrangle_zillow.py module.